.c_header-menu-title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c_menu-drawer__navigation .menu-drawer__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 750px) {
  .c_header-menu-level1 {
    padding: 0!important;
    display: block;
    margin-inline: auto;
  }
}
